exec sp_reset_connection 
go
select dbo.SQTY_FORMAT (1, 24,24) as Qty_Format
go
exec sp_reset_connection 
go
select dbo.SQTY_FORMAT (1, 24,24) as Qty_Format
go
exec sp_reset_connection 
go
select fwd_entity From IM_WH_LOC WITH (NOLOCK)  inner join TBL_GS_WORKING_DAY WITH (NOLOCK)  on convert(varchar(10), fwd_work_day, 120) = convert(varchar(10), wh_loc_last_work_date, 120)  and fwd_week_no = wh_loc_week_closing and fwd_periode = wh_loc_month_closing and fwd_year = wh_loc_year_closing and fwd_entity = wh_loc_entity and fwd_branch = wh_branch_id  where wh_loc_id1 ='PST'  and wh_loc_id2 ='000' and wh_loc_entity = '01' and wh_branch_id = 'G4'
go
exec sp_reset_connection 
go
select sah_NIK from tbl_salesman_history where convert(varchar(10), sah_from, 120) <= '2026-04-27' and convert(varchar(10), sah_to, 120) >= '2026-04-27' and sah_entity_id = '01' and sah_branch_id = 'G4' and sah_salesmen_id = '100001'
go
exec sp_reset_connection 
go
select distinct prm_prd_master_code from IM_PRD_MASTER WITH (NOLOCK) LEFT JOIN ( 	SELECT gh_function_code 	from GS_GEN_HARDCODED WITH (NOLOCK) 	where gh_function_name = 'LINE_COLD_CHAIN' 	and gh_sys = 'H' ) CC ON CC.gh_function_code = prm_prd_line_code where CC.gh_function_code is not null and prm_prd_master_code in ('110325') 
go
exec sp_reset_connection 
go
 select dbo.F_GET_AFS('01','G4','110325','00','00','PST','000') as afs_qty
go
select isnull(ot_process_req, '') as  ot_process_req  ,isnull(ot_summary_req, '') as ot_summary_req  ,isnull(ot_shipment_req, '') as ot_shipment_req  ,isnull(ot_pod_req, '') as ot_pod_req  ,isnull(ot_inv_req, '') as ot_inv_req   From SO_ORDER_TYPE WITH (NOLOCK)  where ot_order_type = '1101'
go
 select dbo.SQTY_FORMAT (0,24,24) as Qty_Format
go
exec sp_reset_connection 
go
SELECT * FROM IM_PRD_MASTER WITH (NOLOCK)  INNER JOIN (  select gh_function_code as cocline from GS_GEN_HARDCODED WITH (NOLOCK)  where gh_function_name like 'LINE_COLD_CHAIN' and gh_sys = 'H'  ) COC ON  prm_prd_line_code = cocline  WHERE  prm_prd_master_code = '110325' 
go
select wsh_seq_no,isnull(wsh_pda_no,'') wsh_pda_no,isnull(wsh_pda_flaq,'') wsh_pda_flaq, isnull(wsh_extract_sap,'') wsh_extract_sap, isnull(wsh_runcode_ext,'') wsh_runcode_ext, isnull(wsh_qasir_flag,'') wsh_qasir_flag,wsh_shipment_type,wsh_additional_ship_cost,wsh_extract_tranship,wsh_runcode_tranship from  SO_WEB_SALES_HEADER WITH (NOLOCK)   WHERE wsh_seq_no = 'XXXXXXXXXX' AND wsh_entity_id = '01' AND wsh_branch_id = 'G4'
go
select  cm_branch, cm_area, cm_wilayah, cm_rayon, cm_cust_group, isnull(cm_line_code, '') cm_line_code, cm_lead_time From SO_CUST_MASTER WITH (NOLOCK)  where cm_cust_code1 = '100057' AND cm_cust_code2 = '000' AND cm_entity = '01' and cm_branch = 'G4' 
go
select fwd_year, fwd_periode, fwd_week_no  from TBL_GS_WORKING_DAY WITH (NOLOCK)   where convert(varchar(10), fwd_work_day, 112) = '20260425'  AND fwd_entity = '01' and fwd_branch = 'G4'
go
select gh_function_code from GS_GEN_HARDCODED WITH (NOLOCK)   where gh_sys = 'H' and gh_function_name = 'SOSTATUS'  and gh_sequence_no = '3' 
go
select isnull(isnull(wlb_last_avg_ucost, cs_standard_unit_cost), 0) as wlb_last_avg_ucost from IM_STOCK_BALANCE LEFT JOIN IM_COST_STD WITH (NOLOCK)   ON wlb_prd_master_code = cs_prd_master_code  AND wlb_grade = cs_grade AND wlb_prd_size = cs_size where wlb_loc_Id1 =  'PST'  and wlb_loc_Id2 =  '000'  and wlb_prd_master_code =  '110325'  and wlb_grade =  '00'  and wlb_prd_size =  '00'  and wlb_entity_id =  '01'  and wlb_branch_id =  'G4' 
go
select cm_status_cr, isnull(cm_ship_credit_limit, 0) -  isnull(cm_ar_saldo, 0) - isnull(cm_so_comitted, 0) as cred_limit  from SO_CUST_MASTER WITH (NOLOCK)    where cm_cust_code1 = '100057'  and cm_cust_code2 = '000' AND cm_entity = '01' AND cm_branch = 'G4' 
go
select cc_currency_code,cc_mdl_rate_to_home  from CB_CURR_CODE WITH (NOLOCK)   where cc_currency_type = 'H' 
go
select prm_prd_line_code, prm_prd_group_code, prm_prd_sgroup_code,  prm_prd_model_code , prm_raw_mat_used_code, prm_washing_collor_code,  prm_conversion_purc, prm_conversion_sales  from IM_PRD_MASTER WITH (NOLOCK)  where prm_prd_master_code = '110325'  and prm_grade = '00'  and prm_prd_size = '00'
go
 exec SP_GET_PRICE_CODE_BY_SKU '01','G4','110325','00','00','100057','000','20260425'
go
 EXEC SP_EXEC_GET_TPR 'XXXXXXXXXX'
go
 exec SP_PROSES_SO_MBRANCH '1','XXXXXXXXXX','202660','N','01','G4'
go
 SELECT * FROM VW_SO_DIFF_TAX where wsh_entity_id = '01' and wsh_branch_id = 'G4' and wsh_seq_no = 'XXXXXXXXXX' 
go
 select cm_cust_code1 as custID1, cm_cust_code2 as CustID2, cm_cust_name as CustName from SO_CUST_MASTER WITH(NOLOCK) WHERE cm_active_flag <> 'D' AND cm_cust_code1 ='' AND cm_entity = '01' AND cm_branch = 'G4' 
go
 select wsh_seq_no, wsh_so_date, wsh_so_type,  wsh_cust_code1, wsh_cust_code2, wsh_loc_id1, wsh_loc_id2,  wsh_spgm_id, wsh_status_so, wsh_net_amount, wsh_tax_amount,  wsh_tot_tpr_amt , wsh_pct_cash_disc, wsh_cash_disc, isnull(wsh_pay_type, '') wsh_pay_type,  isnull(cm_cust_name, '') cm_cust_name, isnull(gh_function_desc, '') outlet_status,  isnull(sgm_spgm_name, '') sgm_spgm_name, isnull(sgm_type_operasi, '') sgm_type_operasi,  isnull(convert(varchar(12), wh_loc_last_work_date, 106), '') wh_loc_last_work_date, isnull(wsh_validate, getdate()) wsh_validate,  isnull(wsh_po_no, '') wsh_po_no, isnull(wsh_so_type, '') wsh_so_type,  isnull(wsh_employee, '') wsh_employee, isnull(wsh_top_id, '') as wsh_top_id,  isnull(cm_flag_blacklist, 'N') as cm_flag_blacklist,wsh_sch_date,wsh_expired_date,wsh_beban_cashdisc,wsh_po_date,wsh_ret_seq_no,wsh_note,isnull(wsh_extract_sap,'N') wsh_extract_sap,wsh_qasir_flag,wsh_flag_sloc,isnull(wsh_is_fulfillment,'N') wsh_is_fulfillment, isnull(wsh_sled_flag,'N') wsh_sled_flag, wsh_sled  from SO_WEB_SALES_HEADER WITH (NOLOCK)  left join SO_CUST_MASTER WITH (NOLOCK)  on wsh_cust_code1 = cm_cust_code1 and wsh_cust_code2 = cm_cust_code2 and wsh_entity_id = cm_entity and wsh_branch_id = cm_branch left join ( select gh_function_code, gh_function_desc from GS_GEN_HARDCODED WITH (NOLOCK)  where gh_sys = 'H' and gh_function_name = 'OUTLETSTATUS') GS on  cm_active_flag = gh_function_code left join SO_SPG_GIRL_MAN WITH (NOLOCK)  on wsh_spgm_id = sgm_spgm_id and wsh_entity_id = sgm_entity_id and wsh_branch_id = sgm_branch_id Left Join IM_WH_LOC WITH (NOLOCK)  on sgm_wh_loc1 = wh_loc_id1 and sgm_wh_loc2 = wh_loc_id2 and sgm_entity_id = wh_loc_entity and sgm_branch_id = wh_branch_id where wsh_seq_no = 'XXXXXXXXXX'
go
 select cm_cust_code1 as custID1, cm_cust_code2 as CustID2, cm_cust_name as CustName from SO_CUST_MASTER WITH(NOLOCK) WHERE cm_active_flag <> 'D' AND cm_cust_code1 ='100057' AND cm_entity = '01' AND cm_branch = 'G4' 
go
select isnull(ot_process_req, '') as  ot_process_req  ,isnull(ot_summary_req, '') as ot_summary_req  ,isnull(ot_shipment_req, '') as ot_shipment_req  ,isnull(ot_pod_req, '') as ot_pod_req  ,isnull(ot_inv_req, '') as ot_inv_req   From SO_ORDER_TYPE WITH (NOLOCK)  where ot_order_type = '1101'
go
 select wsd_prd_master_code, wsd_grade, wsd_prd_size, isnull(prm_prd_desc, '') as prm_prd_desc,  wsd_uom_convert_big, wsd_uom_convert_mid, wsd_het_unit_price,  wsd_real_order_xqty, wsd_real_order_amt, isnull(wsd_so_xqty, '') as wsd_so_xqty, isnull(wsd_total_so_amount, 0) as wsd_total_so_amount,  wsd_tot_disc_pc, wsd_price_date, wsd_tax_code, wsd_tax_pct,wsd_sap_unit_price,wsd_sled,ISNULL(wsd_req_order_xqty,wsd_real_order_xqty) AS wsd_req_order_xqty, CASE WHEN ISNULL(wsd_reason, '') = '' THEN '' ELSE wsd_reason + ' ~ ' + gh_function_desc END AS wsd_reason, (ISNULL(wsd_gross_net,0)-(isnull(wsd_tot_disc_1,0) + isnull(wsd_tot_disc_2,0)+isnull(wsd_tot_disc_3,0)+ isnull(wsd_tot_disc_4,0)+ isnull(wsd_tot_disc_5,0)+ isnull(wsd_tot_disc_6,0)+isnull(wsd_tot_disc_7,0)+isnull(wsd_tot_disc_8,0)+isnull(wsd_tot_disc_9,0)+isnull(wsd_tot_disc_10,0)) + isnull(wsd_tax_amount,0)) as Net_Sales ,wsd_prd_line_code  from SO_WEB_SALES_DETAIL WITH (NOLOCK)  left join IM_PRD_MASTER WITH (NOLOCK)  on wsd_prd_master_code = prm_prd_master_code and wsd_grade = prm_grade and wsd_prd_size = prm_prd_size LEFT JOIN ( SELECT gh_function_code, gh_function_desc FROM GS_GEN_HARDCODED WITH (NOLOCK)                  where gh_function_name ='REASONKAM'           ) RES         ON wsd_reason = gh_function_code  where wsd_so_seq_no = 'XXXXXXXXXX' and wsd_line_type = 'N'  order by wsd_so_detail_line_no
go
select dbo.SQTY_FORMAT (1, 24,24) as Qty_Format
go
IP_PRICEPCODE_MBRANCH '110325','00','00','100057','000','20260425','01','G4'
go
select dbo.SQTY_FORMAT (1, 10,10) as Qty_Format
go
IP_PRICEPCODE_MBRANCH '127863','00','00','100057','000','20241130','01','G4'
go
select  wsd_prd_master_code, isnull(prm_prd_desc, '') prm_prd_desc,  wsd_het_unit_price, wsd_so_xqty From SO_WEB_SALES_DETAIL WITH (NOLOCK)  left join IM_PRD_MASTER WITH (NOLOCK)  on prm_prd_master_code = wsd_prd_master_code and prm_grade = wsd_grade and prm_prd_size = wsd_prd_size where wsd_line_type = 'B'  and wsd_so_seq_no = 'XXXXXXXXXX'  order by wsd_so_detail_line_no 
go
select  pt_product_id, isnull(prm_prd_desc, '') prm_prd_desc, pt_amount,pt_promo_id,pt_pct_promo  From TBL_SD_PROMO_TXN WITH (NOLOCK)  left join IM_PRD_MASTER WITH (NOLOCK)  on prm_prd_master_code = pt_product_id and prm_grade = pt_grade and prm_prd_size = pt_size where pt_flag_proc = '1'  and pt_order_no = 'XXXXXXXXXX'
go
select tdt_product_master_id, tdt_discount_code, tdt_disc_level, isnull(tdt_disc_pct, 0) as tdt_disc_pct,  isnull(tdt_disc_value, 0) as tdt_disc_value  From TBL_DISC_TXN WITH (NOLOCK)  where tdt_order_no = 'XXXXXXXXXX'  and tdt_disc_level <> '0'
go
select wsh_tot_tpr_amt, wsh_tot_disc_1, wsh_tot_disc_2,  wsh_tot_disc_3, wsh_tot_disc_4,  wsh_tot_disc_5, wsh_tot_disc_6,  wsh_tot_disc_7, wsh_tot_disc_8,  wsh_tot_disc_9, wsh_tot_disc_10,  wsh_pct_cash_disc,  wsh_cash_disc, wsh_tax_amount, wsh_net_amount, wsh_dpp_amount From dbo.SO_WEB_SALES_HEADER WITH (NOLOCK)  where wsh_seq_no = 'XXXXXXXXXX' and wsh_entity_id = '01' and wsh_branch_id = 'G4'
go
select gh_function_name from GS_GEN_HARDCODED WITH (NOLOCK)  where gh_function_name='TOPBYTEAMSALESMAN' and gh_sys='H' and gh_function_code='Y' 
go
 EXEC SP_DELETE_SO_TABLE 
go
